{% extends 'base/base.html' %}
{% load static %}

{% block title %}Música - Feitio{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/music.css' %}">

<div class="container my-5">

    <!-- Últimos Lançamentos -->
    <h2 class="text-center text-warning mb-5">Últimos Lançamentos</h2>
    
    <div class="row justify-content-center div-ultimos-lancamentos">
        {% for release in last_releases %}
            <div class="col-md-4 text-center mb-4">
                <a href="{% url 'show_release' release.pk %}" class="btn-release">
                    <img src="{{ release.image.url }}" class="img-fluid mb-3" alt="Brita">
                </a>
                <h5 class="fw-bold text-warning">{{ release.band.name }}</h5>
                <p class="text-warning">{{ release.title }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- Linha divisória -->
    <hr class="text-light my-5">

    <!-- Bandas -->
    <section class="section-bandas">
        <h2 class="text-center text-warning mb-5">Bandas</h2>

        <div class="div-bandas">
            {% for band in bands %}
                <div class="col-6 col-md-2 mb-2 div-btn-banda">
                    <a href="{% url 'show_band' band.pk %}" class="btn-banda"><span class="nome-banda">{{ band.name }}</span></a>
                </div>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}