body {
    background-color: black;
    color: #fffd61;
    font-family: 'Arial', sans-serif;
}

.lancamento-container {
    display: flex;
    padding: 40px;
    gap: 40px;
    width: 75%;
}

.btns-lancamento{
    display: flex;
    gap: 1em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: end;
}

.coluna-esquerda {
    flex: 1;
}

.coluna-direita {
    flex: 2;
}

.div-img-album{
    display: flex;
    align-items: center;
}

.img-lancamento {
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.creditos {
    margin-top: 20px;
    color: #fffd61;
}

.nome-banda {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
}
.nome-banda a{
    color: #fffd61;
    text-decoration: none;
}

.nome-lancamento {
    font-size: 1.4rem;
    font-weight: normal;
}

.data-lancamento {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 20px;
    border-top: 1.8px solid white;
    padding-bottom: 5px;
    text-align: right;
}