/* === CONTEÚDO DO POST === */
.post-content {
  color: #eee;
  line-height: 1.7;
  font-size: 0.8em;
}
.post-detalhe {
  color: #FFD700;
}

.post-header h1 {
  color: #FFD700;
}

.meta {
  color: #ccc;
}

.author-btns{
  display: flex;
  gap: 1em;
  align-items: center;
}

.resumo p {
  font-style: italic;
  color: #ccc;
}

.conteudo {
  background-color: #111;
  padding: 20px;
}

.conteudo p {
    color: #FFD700 !important;
}

/* === IMAGENS COM LEGENDA CENTRALIZADAS === */
.image-block {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.image-block img {
  height: auto;
  border-radius: 6px;
}

.caption {
  color: #ccc;
  margin-top: 0.5em;
  font-style: italic;
  text-align: center;
}

/* === IMAGEM E TEXTO LADO A LADO === */
.image-text-side {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin: 2em 0;
}

.image-text-side img {
  height: auto;
  border-radius: 6px;
}

.image-text-side div {
  flex: 1;
}


@media (min-width: 600px) {
  .post-detalhe {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }

  .post-header h1 {
    margin-bottom: 10px;
  }

  .resumo p {
    margin-bottom: 30px;
  }

  .image-block img {
    max-width: 100%;
  }

  .caption {
    font-size: 0.5em;
  }

  .image-text-side div {
    min-width: 250px;
  }
}

@media (max-width: 600px) {
  .btns-post button, .btns-post a{
    font-size: 12px;
  }

  .post-content {
    line-height: 1.7;
    font-size: 0.6em;
  }
  .post-detalhe {
    max-width: 800px;
    margin: 50px auto;
  }

  .post-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .meta {
    font-size: 0.7em;
  }

  .resumo p {
    margin-bottom: 30px;
  }

  .image-block img {
    max-width: 100%;
  }

  .caption {
    font-size: 0.5em;
  }

  .image-text-side img {
    width: 200px;
  }

  .image-text-side div {
    min-width: 250px;
  }
}