.post-lista {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px;
}

.post-item {
    display: flex;
    gap: 1em;
    justify-content: center;
    background-color: #000;
    padding-bottom: 40px;
}

.post-imagem{
    text-align: center;
    flex: 0 0 40%;
}

.post-imagem img {
    min-height: 200px;
    max-height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.post-conteudo {
    flex: 0.5;
    border-bottom: 1px solid #333;
    color: #FFD700;
}

.post-meta {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.titulo-post {
  font-size: 24px;
  font-weight: bold;
  color: #FFD700;
  margin: 0 0 10px 0;
}

.resumo {
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  max-height: 3.5em;  /* limitar visualmente */
  overflow: hidden;
}


.post-link-txt, .post-link-txt {
  text-decoration: none;
  color: inherit;
}


.post-link-txt:hover h2, .post-link-txt:hover p {
  color: red;
}