@import url('../variables.css');

.container-banda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    width: 62%;
}

.btns-banda{
    display: flex;
    gap: 1em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: end;
}

.coluna-esquerda{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 1em;
    flex: 0.7;
}

.coluna-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    flex: 0.9;
}

.div-band-img img{
    width: 25em;
    border-radius: 5px;
}

.band-description h1{
    font-weight: bold;
}

.social-networks{
    margin-bottom: 1em;
}
.div-social-networks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    font-size: 1.7em;
}
.div-social-networks a{
    text-decoration: none;
    color: rgb(147 147 147);
}

.div-contacts{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.contact-info p{
    margin: 0;
}
.contact-info a{
    text-decoration: none;
    color: var(--cor-destaque);
}
.title-contact{
    font-weight: bold;
}

.assistir, .ouvir{
    width: 100%;
}

.div-turnes{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
}
.turne-lista p{
    margin: 0;
}

.turne-header{
    display: flex;
    align-items: center;
    gap: 1em;
}
.btns-turne{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}
.btns-turne a, .btns-turne button{
    text-decoration: none;
    color: var(--cor-destaque);
    font-weight: bold;
    background: none;
    border: none;
}

.div-add-tour{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add-tour{
    background: var(--cor-destaque);
    border: none;
    font-weight: bold;
    width: 40%;
}
.btn-add-tour:hover{
    opacity: 0.7;
    background-color: var(--cor-destaque);
    transition: opacity 0.3s ease, background-color 0.3s ease;
}


@media (max-width: 800px) {
  .container-banda {
    flex-direction: column;
    width: 90%;
    gap: 2em;
    padding: 1em;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100%;
    align-items: stretch;
  }

  .div-band-img img {
    max-width: 100%;
  }

  .btns-banda {
    justify-content: left;
    align-items: stretch;
    padding: 0.5em;
  }
  .btns-banda button, .btns-banda a{
    font-size: 12px;
  }

  .div-social-networks {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
  }

  .div-add-tour{
    justify-content: left;
  }
  .btn-add-tour{
    font-size: 14px;
    max-width: 10em;
    width: 45%;
  }
}